{% extends "socute_app/main.html" %}

{% block body %}

<div><p>Are you worried about the safety of your messages? Would you prefer to be sure that nobody except the intended
    recipients will read your text but you are too lazy to employ weird encrypting methods? Or maybe you tried but
    nothing made you fall in love with it?</p>

<p>Well, here goes your solution — Secure Out Current Telegram! It's so cute that the short version of this name is
    SoCuTe and the best thing about it is that it will secure your messages very well!</p>

<p>What it's like? Well, it's simple. You add a message, you receive the link to it and you receive the password along
    with it. Later you need to give someone the link and the password, and he or she needs to type it in to read the
    message you have for him or her. You may sign up or not, you may log in or not — your choice. In any case, if you
    are not logged to the service, the message expires after 7 days, and if you sign up, the message is going to last
    on the servers for 30 days.</p>

<p>The thing is that even though it sounds simple, it's really good and safe. There are a lot of encrypting AES
    technologies, lots of weird encryptions, and all the encrypting and decrypting of the messages is going on the
    user's side — the server has the access just to the encrypted message.</p>

<p>Well, what are you waiting for? It's time to be SoCuTe!</p>

<p>Let's try it just now! Jump to <a href="posts/post?post_id=1">page</a> and type 592ea193cacde3c16a8549304906b2d44fdd6e </p>
</div>
{% endblock %}